{% extends "base.html" %}

{% block title %} Login - TriViaggi {% endblock title %}

{% block main_content %}
<script>

    function login(){
        jQuery.ajax({
            url: ajaxUrl + '?fun=compagnia_aerea&oper=login',
            type: 'POST',
            dataType: "json",
            data: {
                email: $('#email').val(),
                password:$('#password').val(),
                remind_me: $('#remind_me').is(':checked')?1:0
            },
            async: true,
            success: function (data) {
                if (data.success) {
                    window.location.href = data.next_url;
                } else {
                    alert(data.message); // Show error
                }
            }

        });
    }

    function login_admin(){
        jQuery.ajax({
            url: ajaxUrl + '?fun=admin&oper=login',
            type: 'POST',
            dataType: "json",
            data: {
                email: $('#email').val(),
                password:$('#password').val(),
                remind_me: $('#remind_me').is(':checked')?1:0
            },
            async: true,
            success: function (data) {
                if (data.success) {
                    window.location.href = data.next_url;
                } else {
                    alert(data.message); // Show error
                }
            }

        });
    }


</script>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">
            <div class="card shadow-sm mt-5">
                <div class="card-body p-4">
                    <h2 class="card-title text-center mb-4"> Login </h2>

                    <form method="POST">
                        <div class="mb-3">
                            <input class="form-control" type="email" name="email" id="email" placeholder="Email" required>
                        </div>
                        <div class="mb-3">
                            <input class="form-control" type="password" name="password" id="password" placeholder="Password" required>
                        </div>

                        <div class="mb-3">
                            <input class="form-check-input" type="checkbox"  id="remind_me" name="remind_me">
                            <label class="form-check-label"> Remind Me </label>
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-primary w-100 mb-3"  onclick="login()" type="button">Login come Compagnia</button>
                        </div>

                        <div class="mb-3">
                            <button class="btn btn-primary w-100 mb-3"  onclick="login_admin()" type="button">Login come admin</button>
                        </div>

                    </form>
                    <p class="text-muted mb-0"> Non hai un accout? <a href="{{ url_for('user_registration') }}" class="text-decoration-none"> Registrati </a></p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock main_content %}