{% extends "base.html" %}

{% block title %}
{% if user %}
Home - {{ user }}
{% else %}
Home
{% endif %}
{% endblock title %}

{% block extra_jquery %}
<script>
    function getUrlParameter(name) {
        let urlParams = new URLSearchParams(window.location.search);
        return urlParams.get(name);
    }

    let da = getUrlParameter('da')
    let a = getUrlParameter('a')
    let dataP = getUrlParameter('dataP')
    let dataR = getUrlParameter('dataR')
    let biglietto = getUrlParameter('biglietto')

    $(document).ready(
        $.ajax({
            'url': ajaxUrl + `&fun=trips&oper=getSelectedTrips`,
            'method': 'POST',
            success: (data) => {
                if(!data[0])
                    return;

                console.log(data)
                
                for (trip in data) {
                    let main = document.createElement('div');

                    let andata = trip[0];
                    let ritorno = trip[1];

                    trip.innerHTML = `
                        <div class="d-flex justify-content-between align-items-stretch p-5 shadow-sm rounded" style="margin-bottom: 3%">

                            <!-- Informazioni voli -->
                            <div class="flex-grow-1 me-4">

                                <!-- Andata -->
                                <div class="mb-3">
                                    <div class="text-muted fw-semibold small mb-2">
                                        Andata
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <div class="text-start me-3">
                                            <div name="orario_partenza_andata" class="fw-semibold fs-5">
                                                ${andata.orario_partenza}
                                            </div>
                                            <div name="aereoporto_partenza class="text-muted">
                                                trip[0].aereoporto_partenza
                                            </div>
                                        </div>
                                        <div class="flex-grow-1 text-center">
                                            <div class="text-muted"> ${andata.voli.durata} </div>
                                            <div><span class="text-primary">✈️</span></div>
                                            <div class="small">
                                                ${ andata.numero_voli == 1 ? 'Diretto' : String(andata.numero_voli - 1) + 'scalo/i' }
                                            </div>
                                        </div>
                                        <div class="ms-3">
                                            <div class="fw-semibold fs-5">
                                                ${andata.orario_partenza + andata.durata}
                                            </div>
                                            <div class="text-muted">
                                                ${andata.aereoporto_arrivo}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Divisore -->
                                <hr class="my-3">

                            <!-- Ritorno -->
                                <div class="mb-3">
                                    <div class="text-muted fw-semibold small mb-2">
                                        Andata
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <div class="text-start me-3">
                                            <div name="orario_partenza_andata" class="fw-semibold fs-5">
                                                ${ritorno.orario_partenza}
                                            </div>
                                            <div name="aereoporto_partenza class="text-muted">
                                                trip[0].aereoporto_partenza
                                            </div>
                                        </div>
                                        <div class="flex-grow-1 text-center">
                                            <div class="text-muted"> ${ritorno.volo[0].durata} </div>
                                            <div><span class="text-primary">✈️</span></div>
                                            <div class="small">
                                                ${ritorno.numero_voli == 1 ? 'Diretto' : String(ritorno.numero_voli - 1) + 'scalo/i'}
                                            </div>
                                        </div>
                                        <div class="ms-3">
                                            <div class="fw-semibold fs-5">
                                                ${ritorno.orario_partenza + ritorno.durata}
                                            </div>
                                            <div class="text-muted">
                                                ${ritorno.aereoporto_arrivo}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            <!-- Prezzo e selezione -->
                            <div class="d-flex flex-column justify-content-center text-end">
                                <div name="prezzo" id="prezzo" class="fs-4 fw-semibold mb-2"> Totale ${ andata.prezzo + (ritorno ? ritorno.prezzo : 0) }}</div>
                                <button class="btn btn-dark btn-sm px-4"> Seleziona <i class="fa-solid fa-arrow-right-long"></i></button>
                            </div>
                        </div>
                        </div>`
                }
            }
        })
    )

</script>
{% endblock extra_jquery %}

{% block main_content %}

<div id='main' class="container my-5">

</div>


{% endblock main_content %}