{% extends "base.html" %}

{% block title %}
{% if user %}
Home - {{ user }}
{% else %}
Home
{% endif %}
{% endblock title %}

{% block extra_jquery %}
<script>
    function showTime(date) {
        return date.toLocaleTimeString([], {hour:"2-digit", minute:"2-digit"});
    }

    function getUrlParameter(name) {
        let urlParams = new URLSearchParams(window.location.search);
        return urlParams.get(name);
    }

    let da = getUrlParameter('da')
    let a = getUrlParameter('a')
    let dataP = getUrlParameter('dataP')
    let dataR = getUrlParameter('dataR')
    let biglietto = getUrlParameter('biglietto')

    $(document).ready(
        $.ajax({
            'url': ajaxUrl + `&fun=trips&oper=getSelectedTrips`,
            'method': 'POST',
            success: (data) => {
                if (!data)
                    return;

                console.log(data)

                for (i in data) {
                    let main = document.createElement('div');

                    let andata = data[i].andata;
                    let ritorno = data[i].ritorno;

                    //calcolo l'orario di partenza e di arrivo
                    let andata_durata = new Date(andata.durata * 60000)
                    let andata_orarioPartenza = new Date(andata.data_partenza + " " + andata.orario_partenza)
                    let andata_orarioArrivo = new Date( andata_orarioPartenza.getTime() + andata_durata.getTime() );

                    //controllo se il volo è diretto o meno, diretto: ha solamente un volo
                    let andata_nScali = andata.numero_scali-1;
                    let andata_scali = andata.scali.split(',');
                    if (andata_nScali != 0) {
                        andata_scali.pop()
                    }
                    
                    let andata_aereoportoPart = andata.aereoporto_partenza
                    let andata_aereoportoDest = andata.aereoporto_destinazione
                    let andata_prezzoBiglietto = andata.prezzo_biglietto
                    
                    let card_ritorno = "";
                    let card_andata = `
                            <!-- Begin Andata -->
                                <div class="d-flex justify-content-between">
                                    <div class="text-center">
                                        <div class="fw-semibold fs-5">${showTime(andata_orarioPartenza)}</div>
                                        <small>${andata_aereoportoPart}</small>
                                    </div>
                                    <div class="text-center">
                                        <i class="fas fa-plane text-primary"></i>
                                        <div class="text-muted small">${andata_durata.getUTCHours()}h ${andata_durata.getUTCMinutes()}min</div>
                                        <div class="small">${andata_nScali == 0 ? "Diretto" : "Scali: " + andata_scali.toString() }</div>
                                    </div>
                                    <div class="text-center">
                                        <div class="fw-semibold fs-5">${showTime(andata_orarioArrivo)}</div>
                                        <small>${andata_aereoportoDest}</small>
                                    </div>
                                </div>
                                <div class="text-center mt-2 text-primary small">Andata</div>
                            <!-- End Andata -->`;


                    if (ritorno !== "") {
                        let ritorno_durata = new Date(ritorno.durata * 60000)
                        let ritorno_orarioPartenza = new Date(ritorno.data_partenza + " " + ritorno.orario_partenza)
                        let ritorno_orarioArrivo = new Date( ritorno_orarioPartenza.getTime() + ritorno_durata.getTime() );

                        //controllo se il volo è diretto o meno, diretto: ha solamente un volo
                        let ritorno_nScali = ritorno.numero_scali-1;
                        let ritorno_scali = ritorno.scali.split(',');
                        if (ritorno_nScali != 0) {
                            ritorno_scali.pop()
                        }
                        
                        let ritorno_aereoportoPart = ritorno.aereoporto_partenza
                        let ritorno_aereoportoDest = ritorno.aereoporto_destinazione
                        let ritorno_prezzoBiglietto = ritorno.prezzoBiglietto
                        
                        card_ritorno = `
                                <!-- Begin Ritorno -->
                                    <div class="d-flex justify-content-between">
                                        <div class="text-center">
                                            <div class="fw-semibold fs-5">${showTime(ritorno_orarioPartenza)}</div>
                                            <small>${ritorno_aereoportoPart}</small>
                                        </div>
                                        <div class="text-center">
                                            <i class="fas fa-plane text-primary"></i>
                                            <div class="text-muted small">${ritorno_durata.getUTCHours()}h ${ritorno_durata.getUTCMinutes()}min</div>
                                            <div class="text-success small">${ritorno_nScali == 0 ? "Diretto" : "Scali: " + ritorno_scali.toString() }</div>
                                        </div>
                                        <div class="text-center">
                                            <div class="fw-semibold fs-5">${showTime(ritorno_orarioArrivo)}</div>
                                            <small>${ritorno_aereoportoDest}</small>
                                        </div>
                                    </div>
                                    <div class="text-center mt-2 text-primary small">Ritorno</div>
                                <!-- End Ritorno -->`;
                    }

                    if (ritorno === "") {
                        main.innerHTML = `
                        <!-- Scheda Volo Andata -->
                        <div class="card mb-4 shadow-sm">
                            <div class="card-body py-3">
                                <div class="row">
                                    <div class="col-md-2 d-flex flex-column justify-content-center align-items-center text-center">
                                        <div class="mb-3">
                                            <span class="text medium mt-1"> Compagnia: </span>
                                            <span class="badge bg-primary fs-6 p-2">${andata.compagnia}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="bg-light border rounded p-2">
                                            ${card_andata}
                                        </div>
                                    </div>
                                    <div class="col-md-3 d-flex flex-column justify-content-center align-items-center">
                                        <h4 class="text-success mb-3">€${andata_prezzoBiglietto} </h4>
                                        <button onclick"" class="btn btn-primary w-100">Prenota</button>
                                    </div>
                                </div>
                            </div>
                        </div>`;
                    } else {
                        main.innerHTML = `
                        <!-- Scheda Volo Andata e Ritorno -->
                        <div class="card mb-4 shadow-sm">
                            <div class="card-body py-3">
                                <div class="row">
                                        <div class="col-md-2 d-flex flex-column justify-content-center align-items-center text-center">
                                            <div class="mb-3">
                                                <span class="text medium mt-1"> Compagnia: </span>
                                                <span class="badge bg-primary fs-6 p-2">${andata.compagnia}</span>
                                                <div class="text-primary small mt-1">Andata</div>
                                            </div>

                                            <div>
                                                <span class="text medium mt-1"> Compagnia: </span>
                                                <span class="badge bg-secondary fs-6 p-2">${ritorno.compagnia}</span>
                                                <div class="text-primary small mt-1">Ritorno</div>
                                            </div>
                                        </div>
                                    <div class="col-md-7">
                                        <div class="bg-light border rounded p-2">
                                            ${card_andata}
                                        </div>

                                        <div class="bg-light border rounded p-2">
                                            ${card_ritorno}
                                        </div>
                                    </div>
                                    <div class="col-md-3 d-flex flex-column justify-content-center align-items-center">
                                        <h4 class="text-success mb-3">€${andata_prezzoBiglietto + ritorno_prezzoBiglietto}</h4>
                                        <button class="btn btn-primary w-100">Prenota</button>
                                    </div>
                                </div>
                            </div>
                        </div>`;
                    }

                    document.getElementById('main').appendChild(main);
                }
            }
        })
    )

</script>
{% endblock extra_jquery %}

{% block main_content %}

<div id='main' class="container my-5">

</div>

<!-- Compagnie -->

{% endblock main_content %}