
</div>
<!--end::Content container-->

</div>
<!--end::Content-->
</div>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% set last_message = messages[-1] %}
        {% if last_message[0] == 'danger' %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ last_message[1] }}
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
        {% endif %}
    {% endif %}
{% endwith %}

</div>
<!--end::Content wrapper-->
<!--layout-partial:layout/partials/_footer.html-->
<!--begin::Footer-->

<!--end:::Main-->



<!--end::Wrapper-->
</div>
<!--end::Page-->
</div>
<div id="kt_scrolltop" class="scrolltop" data-kt-scrolltop="true">
    <i class="ki-outline ki-arrow-up"></i></div>

<div id="error-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 id="error-title" class="modal-title"></h3>

                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal"
                     aria-label="Close">
                    <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                </div>
            </div>

            <div id="error-body" class="modal-body">

            </div>

            <div id="error-footer" class="modal-footer">
            </div>
        </div>
    </div>
</div>


<div class="position-fixed top-0 start-50 translate-middle-x p-3" style="z-index:1056">
    <div id="toast-container" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <i class="fs-2 me-3 "><img class="h-15px" src=""/></i>
            <strong class="h-15px me-auto">Operazione Avvenuta con Successo</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div id="toast-body" class="toast-body">

        </div>
    </div>
</div>