<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link href="{{ url_for('static', filename='include/bootstrap5/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
        <title> {% block title %} Tri-Voli {% endblock title %}</title>
        
        <!-- eventuale css aggiuntivo nelle pagine -->
        {% block extra_css %} {% endblock extra_css %}
    </head>

    <body>
        {% include 'html_include/header.html' %}

        {% block main_content %} {% endblock main_content %}

        {% include 'html_include/footer.html' %}

    </body>
</html>